.admin-wrapper {
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
}

.admin-actions {
    margin-bottom: 3rem;
}


.admin-wrapper ul {
  list-style: none;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 550px;
  overflow-y: scroll;
}
.admin-wrapper span {
  margin-left: 5px;
}

.action-button {
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  line-height: 40px;
  border: none;
  cursor: pointer;
  background-color: #fff;
}

