.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
}
.catalog-small {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.catalog-list {
    display: flex;
    flex-direction: column;
}
.catalog-list-meduim {
    width: 700px;
    margin: 0 auto;
    display: inline-flex;
    flex-direction: column;
}
.catalog-list-small {
    width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.catalog-list-description {
    margin-top: 1rem;
    margin-bottom: 1rem;
}