.catalog {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    justify-content: flex-end;
}

.catalog-list {
    width: 80%;
    display: flex;
    flex-direction: column;
}