.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 47%;
}

.image-wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
}
.content-wrapper-small {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

.image-wrapper-small {
    width: 90%;
    display: flex;
    justify-content: center;
}

.title {
    font-weight: 800;
    font-size: 30px;
    line-height: 150%;
    color: #111111;
}

.image {
    width: 664px;
    height: 471px;
}

.image-small {
    width: 100%;
}

.description-small {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.description-small p span {
    margin-left: 5px;
}

.size {
    font-size: 16px;
    line-height: 130%;
    color: #3F4E65;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.size img {
    margin-right: 5px;
}