.cart-wrapper{
    display: flex;
    align-items: center;
    gap: 50px;
}
.cart-wrapper-small {
    display: flex;
    align-items: center;
    width: 290px;
}

.price {
    display: flex;
    width: 100px;
    justify-content: center;
    font-weight: 800;
    font-size: 30px;
    line-height: 130%;
    color: #111111;
}

.actions {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.cart-button {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 23px;
    line-height: 23;
    background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
    border-radius: 1000px;
    border: none;
}

